body {
  margin: 100px 30px;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 0;
  opacity: 0.8;
}

h2 {
  padding: 10px 0;
  font-size: 45px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
footer {
  font-size: 14px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 15px;
}
.current-day {
  margin: 0;
  opacity: 0.8;
  font-size: 18px;
  line-height: 1;
}
.units {
  font-size: 16px;
  position: relative;
  top: -22px;
  opacity: 0.8;
}
.search-button {
  border: 1px solid #dee2e6;
}
.current-conditions,
.search-form {
  padding-bottom: 20px;
}
