body {
  margin: 100px 30px;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 5px;
  opacity: 0.8;
}

h2 {
  padding: 10px 0;
  font-size: 45px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}
footer {
  font-size: 14px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 15px;
}
.box-temperature {
  display: flex;
  flex-flow: row wrap;
  padding-top: 20px;
}
#main-temp {
  position: relative;
  top: -15px;
  left: -15px;
}
.weather-icon {
  position: relative;
  top: -20px;
  left: -15px;
  width: 65px;
  height: 65px;
}
.current-day {
  opacity: 0.8;
  font-size: 18px;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 17px;
  position: relative;
  opacity: 0.8;
  top: -9px;
  left: -15px;
}
.search-button {
  border: 1px solid #dee2e6;
}
