body {
  margin: 100px 30px;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 40px;
  font-weight: bolder;
  margin-bottom: 5px;
  opacity: 0.8;
}

h2 {
  padding: 10px 0;
  font-size: 60px;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
p {
  margin-bottom: 0;
}
footer {
  font-size: 14px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background-image: linear-gradient(
    to right bottom,
    #edf3fd,
    #dfeafc,
    #cfe2fb,
    #bfdafa,
    #aed2f9
  );
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 15px;
}
.overview-display {
  padding: 0;
}
.box-temperature {
  display: flex;
  align-items: center;
}
#weather-description {
  display: inline-block;
  text-transform: capitalize;
}
.weather-icon {
  width: 100px;
  height: 100px;
}
.current-day {
  opacity: 0.8;
  font-size: 18px;
  line-height: 1.2;
}
.units {
  position: relative;
  font-size: 17px;
  position: relative;
  top: -9px;
}
.search-button {
  border: 1px solid #dee2e6;
}
.forecast {
  margin-top: 15px;
  text-align: center;
  font-weight: bolder;
  opacity: 0.8;
  font-size: 17px;
}
.forecast-temp {
  margin-top: 5px;
}
.max-temp {
  opacity: 0.7;
}
.icon-forecast {
  width: 60px;
  height: 60px;
}
